.navbar {
  background: #221B43;
  height: 120px;
  color: white;
}

/*.form {
  display: block;
  float: right;
  padding-bottom: 120px;
}*/

/*.bikes {
  padding-bottom: 130px;
}*/



h1 {
  color: white;
  font-size: 100px;
  
  
}

input {
  clear: both;
  padding-left: 5px;
  margin-right: 20px;
  border-radius: 5%
}

.account-action .btn {
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 16px;
}

.fixed-bottom {
  background: rgb(99, 117, 151);
  text-align: center;
  padding: 5px;
  border-top: solid 3px teal;
}


/* future.html styling */

.future {
  background-repeat: no-repeat;
  background-position: center center;
}

.port {
  text-align: center;
}

.future-btn {
  background: linear-gradient(#49708f, #b6d3e9);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 16px;
}

.heading h2 {
  color: #071279;
}

.lead{
  color: white;
  text-align: center;
  
  
}

.display-4{
   text-align: center;
   margin-bottom: 10px;
   color: white;
}

.container{
  padding: 50px;
}

label{
  margin-right: 5px;
  font-size: 25px;
  color: #0069D9;
  
   
}

.container .form{
  overflow: auto;
  /*position: fixed;*/
  margin-left:  0px;
  margin-bottom: 0px;
  text-align: center;
}
    
.input[type=text], select {
  
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input[type=submit] {
  width: 100%;
  background-color: #0069D9;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input[type=submit]:hover {
  background-color: #2414b4;
}

/*.hero {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}*/
    
  





