.Navbar{
    color: white;
    position: relative;
    text-align: center;
    overflow: auto;
    background: linear-gradient( #014C76, #C360D2);
    
}

.btnp{
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
}
    



.bikes{
    padding-left: 40px;
    padding-top: 5px;
}

.container{
    
}

