.Navbar{
    
    color: white;
    position: relative;
    text-align: center;
    overflow: auto;
    background: linear-gradient( #014C76, #C360D2);
    margin-bottom: 1px;
    
}


.btnp{
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
}
    





.form-ri{
    position: relative;
    background-image: url(Back.png)
}

